{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bartender/bootstrap.css' %}" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/drinks/">Bartender</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/drinks/">Home<span class="sr-only">current</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drinks/add-liquor">Add Liquor to Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drinks/add-ingredient">Add Ingredient to Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drinks/add-drink">Add Drink to Database</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/drinks/ingredient-search">Ingredient Search</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/drinks/search/">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search Drinks" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
        <form action="/drinks/updateBar" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-5">
                    {% if AlcoholicIngredients %}
                        <h3 class="align-content-center">Edit Alcoholic Ingredients</h3>
                        {{ AlcoholicIngredients}}
                    {% else %}
                        no form
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if NAIngredients %}
                        <h3 class="align-content-center">Edit Non-Alcoholic Ingredients</h3>
                        {{ NAIngredients}}
                    {% else %}
                        no form
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mt-3 mr-3 btn-lg btn-block">Update</button>
                </div>
            </div>
        </form>
</div>